// vue-admin-bootstrap reset dropdown
.dropdown {
    position: relative;
    .caret{
        transition: transform 0.2s, vertical-align 0.2s;
    }
    &.open {
        .caret {
             transform: rotate(-180deg);
        }
    }
}

// vue-admin-bootstrap topbar dropdown
.admin-topbar{
    .dropdown-menu{
        padding: 0px;
        z-index: 1;
        font-size: 12px;
        border-radius: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        a{
            padding: 0;
        }
    }

    .dropdown.open .topbar-btn,.topbar-info .dropdown.open .topbar-btn{
        color: #333;
        background: #fff;
        border-bottom: 1px solid #eaedf1;
        position: relative;
    }

    // topbar-info
    .topbar-info .dropdown{
        .dropdown-menu{
            width: 100%;
            min-width: 0;
            margin: 0;
            border: none;
        }
    }

}

// nav  dropdown
.tab-dropdown :extend(.nav-tabs > li){
    .nav-pills > li&{
        margin-left: 4px;
    }
    & > a :extend(.nav-tabs > li > a){
        color: #666;
        border-left: 0px;
        border-right: 0px;
        margin-right: 0px;
        padding: 10px 16px;
        background: #FBFAF8;
        border-bottom: 0px;
    }
    .nav > & > a.dropdown-toggle{
        margin-left:0px;
    }
    & > .dropdown-menu {
        left: -1px;
        padding: 0px;
        border-radius:0px;
    }
}
