/**
 * sidebar-full sidebar-mini
 *
 */

.@{namespace}{

    &-body{
      position: absolute;
      width: 100%;
      top: @topbar-height;
      bottom: 0px;
      background-color: #000;
      z-index: 100;
    }
    &-sidebar-full{
        .sidebar-box(@sidebar-full-width);
        .@{namespace}-product{
          left: @sidebar-full-left-content;
        }
    }

    &-sidebar-mini{
        .sidebar-box(@sidebar-mini-width);

        .@{namespace}-product{
          left:  @sidebar-mini-left-content;
        }

        // 覆盖 全局sidebar
        .@{namespace}-sidebar{
            .sidebar-content{
                width: (@sidebar-mini-width + 20px);
            }
             .sidebar-nav{
                 width: @sidebar-mini-width;
                 .nav-title{
                     &:extend(.hide);
                 }
             }
             .sidebar-title-text,.sidebar-manage{
                 &:extend(.hide);
             }
             .sidebar-fold{
                 width: @sidebar-mini-width;
             }
        }
    }

    &-sidebar{
        background-color : @sidebar-bg-color;
        width: 0px;
        display: none;
        position: fixed;
        top: @topbar-height;
        bottom: 0px;
        z-index: 102;
        overflow-x: hidden;

        // 折叠按钮
        .sidebar-fold{
            height: 30px;
            width: @sidebar-full-width;
            background:lighten(@sidebar-bg-color, 12%);
            color: #aeb9c2;
            text-align: center;
            line-height: 30px !important;
            font-size: 12px;
            user-select: none;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
        }

        // 服务列表动画
        .sidebar-trans{
            -o-transition: all 0.12s ease,0.12s ease;
            -ms-transition: all 0.12s ease,0.12s ease;
            -moz-transition: all 0.12s ease,0.12s ease;
            -webkit-transition: all 0.12s ease,0.12s ease;
        }
        .sidebar-variant(@sidebar-bg-color,@sidebar-title-color,@sidebar-title-bg-color);
    }

    &-product{
      width: auto;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      overflow: hidden;
      background: #FFF;
    }

}
