/**
 * sidebar-full sidebar-mini
 *
 */



.@{namespace}{
    &-body{
      position: absolute;
      width: 100%;
      top: 50px;
      bottom: 0px;
      background-color: #000;
      z-index: 100;
    }
    &-sidebar-full{
        .sidebar-box(180px);

        .@{namespace}-content{
          left: 180px;
        }
    }

    &-sidebar-mini{
        .sidebar-box(50px);
        .@{namespace}-content{
          left: 50px;
        }
    }

    &-sidebar{
      .sidebar-fold{
        .sidebar-fold();        
      }
      .sidebar-variant(@sidebar-bg-color,@sidebar-title-color,@sidebar-title-bg-color);
    }

    &-content{
      width: auto;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      overflow: hidden;
      background: #FFF;
    }

}
