.viewFramework-topbar {
    position: fixed;
    width: 100%;
    height: @topbar-height;
    background: @topbar-bg-color;
    z-index: @zindex-framework-topbar;
}

.admin-topbar {
    .topbar-wrap,
    .topbar-logo,
    .topbar-home,
    .topbar-home-link,
    .topbar-nav,
    .topbar-info {
        height: 100%;
    }

    .topbar-clearfix:before,
    .topbar-clearfix:after {
        display: table;
        content: " ";
    }

    .topbar-left {
        float:left;
    }

    .topbar-right{
        float:right;
    }

    .topbar-btn,.topbar-info .topbar-btn{
        color: #fff;
        font-size: 14px;
        line-height:  @topbar-height;
        &:hover,&.topbar-btn-dark{
            background: @topbar-bg-hover-color;
        }
    }

    .topbar-nav-btn{
        padding: 0 20px;
        display: inline-block;
        height: @topbar-height;
    }

    .topbar-info-btn{
        height: 40px;
        border-bottom: 1px solid #eaedf1;
    }

    a {
        text-decoration: none;
    }
}


.admin-topbar {
    position: relative;
    z-index: @zindex-topbar;
    clear: both;
    height: @topbar-height;
    background: @topbar-bg-color;
    font-size: 12px;
    min-width: 990px;
}

.admin-topbar{
    .topbar-head {
        background: @topbar-bg-hover-color;
        height: @topbar-height;
        position: relative;
        z-index: 3;
    }

    .topbar-nav {
        position: relative;
        z-index: 2;
        background: @topbar-bg-color;
    }

    // 下拉
    .topbar-nav-list {
        border: none;
        padding: 10px;
        margin-top: 0;
        white-space: nowrap;
    }

    .topbar-info {
        background: @topbar-bg-hover-color;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
    }

    // topbar-info 选项卡
    .topbar-info-item {
        display: inline-block;
        margin-left: 1px;
    }
}

// 选项卡的按钮
.admin-topbar{
    .topbar-logo{
        display: block;
        width: @topbar-logo-width;
        background: darken(@topbar-bg-color,10%);
        font-size: 28px;
        color: #FFF;
        text-align: center;
        line-height: @topbar-height;
        span{
            line-height: @topbar-height;
        }
    }
    .topbar-home-link{
        padding: 0 20px;
        margin-right: 1px;
        background: @topbar-bg-color;
        &:hover{
            background: @topbar-bg-hover-color;
        }
    }
}

// 选项卡列表
.admin-topbar{

    // 导航下拉列表
    .topbar-nav-list {
        border: none;
        padding: 10px;
        margin-top: 0;
        white-space: nowrap;

        // 列
        .topbar-nav-col {
            display: inline-block;
            vertical-align: top;
            padding: 0 10px;
        }

        // 组分割线
        .topbar-nav-gap {
            border-top: 1px solid #f2f2f2;
            width: 100%;
            margin: 6px 0 10px;
        }
        // 组
        .topbar-nav-item-list{
            padding: 0;
            margin: 8px 0 0 0;
            list-style: none;
            li{
                min-width: 160px;
                height: 28px;
                line-height: 28px;
                margin-bottom: 2px;
            }
            a{
                display: block;
                height: 100%;
                padding: 0 10px;
                text-decoration: none;
                color: #333;
                &:hover{
                    background-color: #f2f2f2;
                }
            }
        }

        // 组名标题
        .topbar-nav-item-title{
            margin: 3px 0px;
            color: #999;
            font-weight: 600;
        }
    }
    .topbar-info {
        .topbar-btn{
            padding: 0 10px;
            height: @topbar-height;
            display: block;
            z-index: 2;
            background: @topbar-bg-color;
        }
         // 下拉菜单栏按钮
        .topbar-info-btn a{
            line-height: 39px;
            padding-left: 10px;
        }
    }
}
