//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px


@zindex-framework-body    : 100;
@zindex-framework-topbar  : 101;
@zindex-framework-sidebar : 102;


@zindex-sidebar-tooltip: 1030;
@zindex-topbar         : @zindex-framework-body;

// border-radius
@border-radius-base: 4px;


// Components

//== Topbar
//
//##
@topbar-height       : 50px;
@topbar-logo-width   : 50px;

@topbar-bg-color      : #09C;
@topbar-bg-hover-color: darken(@topbar-bg-color,4%);

//== Sidebar
//
//##
@sidebar-full-width  : 180px;
@sidebar-mini-width  : 50px;

@sidebar-bg-color    : #293038;

@sidebar-title-color : #ffffff;
@sidebar-title-bg-color : #22282e;

@sidebar-full-left-content : 180px;
@sidebar-mini-left-content : 50px;


//== Tooltips
//
//##
//** Tooltip max width
@tooltip-max-width:           200px;
//** Tooltip text color
@tooltip-color:               #fff;
//** Tooltip background color
@tooltip-bg:                  #425160;
@tooltip-opacity:             .9;

//** Tooltip arrow width
@tooltip-arrow-width:         5px;
//** Tooltip arrow color
@tooltip-arrow-color:         @tooltip-bg;

//== Modal
//
@modal-backdrop-color: #fff;

@modal-content-border-rgb-color: #999;
@modal-content-border-rgba-color: rgba(0,0,0,0.3);
@modal-content-box-shadow-color: rgba(0,0,0,0.5);
