
@namespace : viewFrameWork;

/*--------------
     sidebar
---------------*/
@sidebar-full-width  : 180px;
@sidebar-mini-width  : 50px;
@sidebar-bg-color    : #293038;
@sidebar-title-color : #ffffff;
@sidebar-title-bg-color : #22282e;
